body {
  margin: 0;
  padding: 0;

  background-color: $primary-bg-color;
  color: $primary-text-color;

  font-family: $familyRoboto;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;

  color: $tittle-text-color;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* спрятать заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
